:root {
  /* fonts */
  --main-fonts: 'Metropolis', sans-serif;
  --Metropolis-bold: 'Metropolis-bold', sans-serif;
  /* color */
  --accent: #722ed1;
  --lightAccentBg: #f7f1ff;
  --bgColor: #ffff;
  --mainColor: #160637;
  --light-textColor: #8989a2;
}

/* font face */
@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/MetropolisMedium.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis-bold';
  src: url('../fonts/MetropolisBold.woff2') format('woff2');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

/* conteiner */
.conteiner {
  margin: 0 auto;
  max-width: 990px;
  padding-left: 15px;
  padding-right: 15px;
}
/* body */
body {
  font-family: var(--main-fonts);
  font-weight: 500;
  font-size: 16px;
}
