/* reset */
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* reset */
/* imports */
:root {
  /* fonts */
  --main-fonts: "Metropolis", sans-serif;
  --Metropolis-bold: "Metropolis-bold", sans-serif;
  /* color */
  --accent: #722ed1;
  --lightAccentBg: #f7f1ff;
  --bgColor: #ffff;
  --mainColor: #160637;
  --light-textColor: #8989a2;
}

/* font face */
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/MetropolisMedium.woff2") format("woff2");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis-bold";
  src: url("../fonts/MetropolisBold.woff2") format("woff2");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}
/* conteiner */
.conteiner {
  margin: 0 auto;
  max-width: 990px;
  padding-left: 15px;
  padding-right: 15px;
}

/* body */
body {
  font-family: var(--main-fonts);
  font-weight: 500;
  font-size: 16px;
}

.header {
  position: relative;
  padding-top: 20px;
  background-image: url(/img/hero/BG.svg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 112px;
}

.header-mobile {
  display: none;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 96px;
}

.logo {
  display: block;
  width: 48px;
  height: 48px;
}

.header-wrapper-wright {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.header-nav-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  flex-wrap: wrap;
}

.nav-hidden_wrapper {
  cursor: pointer;
  position: relative;
}
.nav-hidden_wrapper:hover .nav-list_submenu {
  display: block;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.nav-hidden_wrapper .nav-list_submenu {
  display: none;
  position: absolute;
  padding: 10px;
  top: 15px;
  left: -10px;
  z-index: 5;
  border-radius: 10px;
  background-color: white;
  box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.25);
  animation: 0.6s opas;
}

@keyframes opas {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.nav-hidden {
  display: block;
  background-image: url(/img/hero/arrow-down.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 8px;
  height: 4px;
}

.nav-list_submenu_link {
  font-family: var(--main-fonts);
  font-weight: 500;
  font-size: 12px;
  color: #000;
  transition: color 0.4s ease-in;
}
.nav-list_submenu_link:hover {
  color: var(--accent);
}

.header-nav-link {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  position: relative;
  font-family: var(--main-fonts);
  font-weight: 500;
  font-size: 14px;
  color: #000;
  transition: color 0.4s ease-in;
}
.header-nav-link:hover {
  color: var(--accent);
}

.header-btn {
  border: 1px solid var(--accent);
  border-radius: 23px;
  padding: 12px 24px;
  font-size: 14px;
  box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease-in;
}
.header-btn:hover {
  border: 1px solid var(--lightAccentBg);
  color: var(--lightAccentBg);
  background-color: var(--accent);
}

.main-section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 158px;
}

.main-section-left {
  width: 472px;
}

.main-section-left-btn-wrapper {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.main-section_info {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  background: #f7f1ff;
  border-radius: 20px;
  padding: 12px 24px;
  max-width: 300px;
  color: var(--accent);
  margin-bottom: 24px;
  box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.main-section_info-link {
  color: var(--accent);
  border-bottom: 1px solid var(--accent);
}

.main-section_title {
  font-family: var(--Metropolis-bold);
  font-weight: 700;
  font-size: 48px;
  color: #000;
  margin-bottom: 24px;
}

.main-section_content {
  font-family: var(--main-fonts);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.5;
  color: #000;
  margin-bottom: 24px;
}

.main-section_start_btn {
  background: var(--accent);
  border-radius: 23px;
  padding: 12px 24px;
  width: 145px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease-in;
}
.main-section_start_btn:hover {
  color: var(--accent);
  background: var(--lightAccentBg);
}

.main-section_more_btn {
  border-radius: 23px;
  padding: 12px 24px;
  width: 130px;
  background: #fff;
  font-weight: 500;
  font-size: 14px;
  box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease-in;
}
.main-section_more_btn:hover {
  background: var(--accent);
  color: #fff;
}

.main-section-wright {
  display: block;
}

.adventages {
  margin-bottom: 112px;
}

.adventages-section_info {
  margin: 0 auto;
  margin-bottom: 24px;
}

.adventages_title {
  font-family: var(--Metropolis-bold);
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  color: var(--mainColor);
  margin-bottom: 24px;
}

.advantages_content {
  font-family: var(--main-fonts);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--light-textColor);
  margin-bottom: 24px;
}

.adventages-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 17px;
}

.adventages-wrapper-block {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
  width: 305px;
}

.adventages-wrapper-block_title {
  font-family: var(--Metropolis-bold);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--mainColor);
}

.adventages-wrapper-block_content {
  font-family: var(--main-fonts);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--light-textColor);
}

.info-section {
  margin-bottom: 22px;
}

.info-section-collumn {
  display: flex;
  flex-direction: column;
  row-gap: 120px;
}

.info-section-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info-section-wrapper-left {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.info-section-wrapper-right {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.info-section_title {
  font-family: var(--Metropolis-bold);
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  color: var(--accent);
}

.info-section_content {
  max-width: 475px;
  font-family: var(--main-fonts);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--light-textColor);
}

.reviews-section {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(/img/reviews/bg.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 120px;
}

.tabcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-section_content {
  font-family: var(--main-fonts);
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: var(--mainColor);
  margin-bottom: 32px;
}

.reviews-section_img {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  margin-bottom: 32px;
}

.reviews-section_user {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #000;
  margin-bottom: 64px;
}

.tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.tablink {
  cursor: pointer;
  filter: grayscale(1);
  transition: all 0.4s ease;
}

.tablink:hover,
.active {
  filter: grayscale(0);
  transform: scale(1.1);
}

.call-back-section {
  margin-bottom: 120px;
}

.call-back-section-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.call-back-section-left {
  max-width: 430px;
  display: flex;
  flex-direction: column;
}

.call-back-section_title {
  font-family: var(--Metropolis-bold);
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  color: var(--mainColor);
  margin-bottom: 35px;
}

.call-back-section_line {
  background-image: url(/img/call-back/Trusted-by.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 24px;
  margin-bottom: 50px;
}

.call-back-section-company_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 75px;
  justify-items: center;
}

.call-back-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  box-shadow: 4px 4px 12px 0 #722ed1;
  background: #fff;
  border-radius: 8px;
  padding: 32px 40px;
  max-width: 428px;
}

.call-back-form_title {
  font-family: var(--Metropolis-bold);
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: var(--mainColor);
}

.call-back-form_button {
  border-radius: 8px;
  width: 100%;
  font-family: var(--main-fonts);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  background-color: var(--accent);
  padding: 12px;
}

.call-back-form_input {
  text-align: center;
  border: 1px solid #d9d9d9;
  background: #fff;
  border-radius: 4px;
  padding: 16px;
  width: 100%;
  font-family: var(--main-fonts);
  font-weight: 500;
  font-size: 16px;
  color: var(--light-textColor);
}

.call-back-form_googleBtn {
  background-image: url(/img/call-back/btn_google_signin_dark_normal_web@2x.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 48px;
  width: 199px;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--light-textColor);
}

.call-back-form_content {
  font-family: var(--main-fonts);
  font-weight: 500;
  font-size: 14px;
  color: var(--light-textColor);
}
.call-back-form_content a {
  color: var(--accent);
  cursor: pointer;
}

.footer {
  background-color: var(--lightAccentBg);
  padding-top: 60px;
  padding-bottom: 90px;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 30px;
}

.footer-wrapper-collumn {
  display: flex;
  flex-direction: column;
}

.footer-wrapper-social-collumn {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  row-gap: 20px;
}

.footer-wrapper-collumn_title {
  font-family: var(--Metropolis-bold);
  font-weight: 700;
  font-size: 16px;
  color: var(--mainColor);
  margin-bottom: 20px;
}

.footer-wrapper-collumn-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.footer-wrapper-collumn-list_items {
  font-family: var(--main-fonts);
  font-weight: 500;
  font-size: 12px;
  color: var(--mainColor);
  cursor: pointer;
}

.footer-from {
  position: relative;
  max-width: 180px;
}

.footer-from_input {
  max-width: 180px;
  font-family: var(--main-fonts);
  font-weight: 500;
  font-size: 12px;
  color: var(--light-textColor);
  background: #fff;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 35px;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.05);
}

.footer-from_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  z-index: 2;
  cursor: pointer;
}

.footer-wrapper-collumn-social {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.footer-wrapper-social_content {
  font-family: var(--main-fonts);
  font-weight: 500;
  font-size: 14px;
  line-height: 167%;
  color: var(--mainColor);
}

:root {
  /* fonts */
  --main-fonts: "Metropolis", sans-serif;
  --Metropolis-bold: "Metropolis-bold", sans-serif;
  /* color */
  --accent: #722ed1;
  --lightAccentBg: #f7f1ff;
  --bgColor: #ffff;
  --mainColor: #160637;
  --light-textColor: #8989a2;
}

.display-none {
  display: none;
}

.header-mobile {
  display: none;
}

@media (max-width: 1199px) {
  /* adventafes*/
}
@media (max-width: 991px) {
  /* adventafes*/
  .info-section-wrapper {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  /* call-back-section */
  .call-back-section-wrapper {
    gap: 60px;
    justify-content: center;
  }
  .call-back-section-company_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 40px;
         column-gap: 40px;
    row-gap: 40px;
  }
}
@media (max-width: 767px) {
  /* hero */
  .header-wrapper {
    display: none;
  }
  .main-section-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
  }
  /* reviews */
  .tab {
    gap: 40px;
    justify-content: center;
  }
}
@media (max-width: 575px) {
  /* hero */
  .header {
    margin-bottom: 30px;
  }
  .main-section_title {
    font-size: 35px;
  }
  .main-section_content {
    font-size: 14px;
  }
  .main-section-left-btn-wrapper {
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .main-section_start_btn {
    text-align: center;
    width: 100%;
  }
  .main-section_more_btn {
    text-align: center;
    width: 100%;
  }
  /* adventafes*/
  .adventages_title {
    font-size: 35px;
  }
  .advantages_content {
    font-size: 14px;
  }
  .adventages-wrapper-block {
    row-gap: 10px;
  }
  .adventages-wrapper-block_content {
    font-size: 14px;
  }
  .adventages-wrapper {
    gap: 25px;
  }
  .adventages {
    margin-bottom: 30px;
  }
  /* info-section */
  .info-section-collumn {
    row-gap: 80px;
  }
  .main-section_info {
    margin: 0 auto;
  }
  .info-section-wrapper-right {
    row-gap: 15px;
  }
  .info-section-wrapper-left {
    row-gap: 15px;
  }
  .info-section_title {
    font-size: 30px;
  }
  .info-section_content {
    font-size: 14px;
  }
  /* reviews */
  .reviews-section {
    padding-top: 150px;
    padding-bottom: 100px;
    margin-bottom: 30px;
  }
  .reviews-section_user {
    margin-bottom: 30px;
  }
  .reviews-section_content {
    margin-bottom: 20px;
  }
  .reviews-section_img {
    margin-bottom: 20px;
  }
  /* call-back-section */
}
/* sticky footer */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.footer {
  margin-top: auto;
}

/* sticky footer *//*# sourceMappingURL=main.css.map */