/* reset */
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* reset */
/* imports */
:root {
  /* fonts */
  --main-fonts: "Metropolis", sans-serif;
  --Metropolis-bold: "Metropolis-bold", sans-serif;
  /* color */
  --accent: #722ed1;
  --lightAccentBg: #f7f1ff;
  --bgColor: #ffff;
  --mainColor: #160637;
  --light-textColor: #8989a2;
}

/* font face */
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/MetropolisMedium.woff2") format("woff2");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis-bold";
  src: url("../fonts/MetropolisBold.woff2") format("woff2");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}
/* conteiner */
.conteiner {
  margin: 0 auto;
  max-width: 990px;
  padding-left: 15px;
  padding-right: 15px;
}

/* body */
body {
  font-family: var(--main-fonts);
  font-weight: 500;
  font-size: 16px;
}

.header {
  padding-top: 20px;
  background-image: url(/img/hero/BG.svg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 112px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 96px;
}

.logo {
  display: block;
  width: 48px;
  height: 48px;
}

.header-wrapper-wright {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.header-nav-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  flex-wrap: wrap;
}

.nav-hidden_wrapper {
  cursor: pointer;
  position: relative;
}
.nav-hidden_wrapper:hover .nav-list_submenu {
  display: block;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.nav-hidden_wrapper .nav-list_submenu {
  display: none;
  position: absolute;
  padding: 10px;
  top: 15px;
  left: -10px;
  z-index: 5;
  border-radius: 10px;
  background-color: white;
  box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.25);
  animation: 0.6s opas;
}

@keyframes opas {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.nav-hidden {
  display: block;
  background-image: url(/img/hero/arrow-down.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 8px;
  height: 4px;
}

.nav-list_submenu_link {
  font-family: var(--main-fonts);
  font-weight: 500;
  font-size: 12px;
  color: #000;
  transition: color 0.4s ease-in;
}
.nav-list_submenu_link:hover {
  color: var(--accent);
}

.header-nav-link {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  position: relative;
  font-family: var(--main-fonts);
  font-weight: 500;
  font-size: 14px;
  color: #000;
  transition: color 0.4s ease-in;
}
.header-nav-link:hover {
  color: var(--accent);
}

.header-btn {
  border: 1px solid var(--accent);
  border-radius: 23px;
  padding: 12px 24px;
  font-size: 14px;
  box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease-in;
}
.header-btn:hover {
  border: 1px solid var(--lightAccentBg);
  color: var(--lightAccentBg);
  background-color: var(--accent);
}

.main-section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 158px;
}

.main-section-left {
  width: 472px;
}

.main-section-left-btn-wrapper {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.main-section_info {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  background: #f7f1ff;
  border-radius: 20px;
  padding: 12px 24px;
  max-width: 300px;
  color: var(--accent);
  margin-bottom: 24px;
  box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.main-section_info-link {
  color: var(--accent);
  border-bottom: 1px solid var(--accent);
}

.main-section_title {
  font-family: var(--Metropolis-bold);
  font-weight: 700;
  font-size: 48px;
  color: #000;
  margin-bottom: 24px;
}

.main-section_content {
  font-family: var(--main-fonts);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.5;
  color: #000;
  margin-bottom: 24px;
}

.main-section_start_btn {
  background: var(--accent);
  border-radius: 23px;
  padding: 12px 24px;
  width: 145px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease-in;
}
.main-section_start_btn:hover {
  color: var(--accent);
  background: var(--lightAccentBg);
}

.main-section_more_btn {
  border-radius: 23px;
  padding: 12px 24px;
  width: 130px;
  background: #fff;
  font-weight: 500;
  font-size: 14px;
  box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease-in;
}
.main-section_more_btn:hover {
  background: var(--accent);
  color: #fff;
}

.main-section-wright {
  display: block;
}

.adventages {
  margin-bottom: 112px;
}

.adventages-section_info {
  margin: 0 auto;
  margin-bottom: 24px;
}

.adventages_title {
  font-family: var(--Metropolis-bold);
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  color: var(--mainColor);
  margin-bottom: 24px;
}

.advantages_content {
  font-family: var(--main-fonts);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--light-textColor);
  margin-bottom: 24px;
}

.adventages-wrapper {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 17px;
       column-gap: 17px;
}

.adventages-wrapper-block {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
  width: 305px;
}

.adventages-wrapper-block_title {
  font-family: var(--Metropolis-bold);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--mainColor);
}

.adventages-wrapper-block_content {
  font-family: var(--main-fonts);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--light-textColor);
}

.info-section {
  margin-bottom: 22px;
}

.info-section-collumn {
  display: flex;
  flex-direction: column;
  row-gap: 120px;
}

.info-section-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info-section-wrapper-left {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.info-section_img {
  display: block;
  width: 399px;
  height: 399px;
}

.info-section-wrapper-right {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.info-section_title {
  font-family: var(--Metropolis-bold);
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  color: var(--accent);
}

.info-section_content {
  width: 475px;
  font-family: var(--main-fonts);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--light-textColor);
}

:root {
  /* fonts */
  --main-fonts: "Metropolis", sans-serif;
  --Metropolis-bold: "Metropolis-bold", sans-serif;
  /* color */
  --accent: #722ed1;
  --lightAccentBg: #f7f1ff;
  --bgColor: #ffff;
  --mainColor: #160637;
  --light-textColor: #8989a2;
}

.reviews-section {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(/img/reviews/bg.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.tabcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-section_content {
  font-family: var(--main-fonts);
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: var(--mainColor);
  margin-bottom: 32px;
}

.reviews-section_img {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  margin-bottom: 32px;
}

.reviews-section_user {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #000;
  margin-bottom: 64px;
}

.tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.tablink {
  cursor: pointer;
  filter: grayscale(1);
  transition: all 0.4s ease;
}

.tablink:hover,
.active {
  filter: grayscale(0);
  transform: scale(1.1);
}

/* footer */
.footer {
  font-family: var(--Metropolis-bold);
  font-size: 25px;
  height: 300px;
  background-color: blue;
  color: red;
}

/* sticky footer */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.footer {
  margin-top: auto;
}

/* sticky footer *//*# sourceMappingURL=main.css.map */